* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

:root {
    --single-button-width: 60px;
    --buttons-gap: 10px;
    ---display-width: calc(4 * var(--single-button-width) + 3 * var(--buttons-gap));
    --calculator-padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: calc(var(---display-width) + 2 * var(--calculator-padding));
    padding: var(--calculator-padding);
    height: 520px;
    border-radius: 30px;
    background-color: lightgray;
    margin: 100px auto;
    align-items: center;
    justify-content: space-between;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: var(---display-width);
    height: 110px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(0, 1%, 47%);
}

.calculation-display {
    font-size: 25px;
}

.result-display {
    font-size: 40px;
    font-weight: 800;
}

.display-container,
.calculation-display,
.result-display {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btns-container,
.left-btns-container,
.letf-top-btns-container,
.letf-bottom-btns-container,
.right-btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--buttons-gap);
}

.btns-container {
    width: var(---display-width);
    height: calc(5 * var(--single-button-width) + 4 * var(--buttons-gap));


}

.left-btns-container {
    width: calc(3 * var(--single-button-width) + 2 * var(--buttons-gap));
}

.right-btns-container {
    flex-direction: column;
}

.add,
.result {
    height: calc(1.5 * var(--single-button-width) + 0.5 * var(--buttons-gap));
}

.zero {
    width: calc(2 * var(--single-button-width) + var(--buttons-gap));
}


button {
    width: var(--single-button-width);
    height: var(--single-button-width);
    border: none;
    border-radius: 15px;
    font-size: 30px;
    background-color: hsl(0, 1%, 47%);
}

button:hover {
    background-color: hsl(0, 1%, 60%);
}

button:active {
    background-color: hsl(0, 1%, 47%);

}