* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

:root {
    --btn-grid-gap: 10px;
    --btn-grid-track-size: 25px;
    --btns-container-width: calc(var(--btn-grid-track-size) * 8 + var(--btn-grid-gap) * 7);
    --btns-container-height: calc(var(--btn-grid-track-size) * 10 + var(--btn-grid-gap) * 9);

}

.content-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border-radius: 30px;
    background-color: #FFB4A2;
    margin: 100px auto;
    padding: 15px;
    width: var(--btns-container-width);
    
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: var(--btns-container-width);
    height: 110px;
    padding: 15px;
    border-radius: 15px;
    background-color:#6D6875;
}

.calculation-display {
    font-size: 25px;
}

.result-display {
    font-size: 40px;
    font-weight: 800;
}

.display-container,
.calculation-display,
.result-display {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btns-container {
    display: grid;
    gap: var(--btn-grid-gap);
    grid-template: repeat(10, var(--btn-grid-track-size)) / repeat(8, var(--btn-grid-track-size));
}

button {
    border: none;
    border-radius: 15px;
    font-size: 30px;
    grid-area: span 2 / span 2;
}

.zero {
    grid-column: 1 / span 4;
}

.add {
    grid-area: 5 / 7 / span 3 / span 2;
}

.result-btn {
    grid-area: 8 / 7 / span 3 / span 2;
}

.num-btn,
.dot-btn {
    background-color: #E5989B;
}

.num-btn:hover,
.dot-btn:hover {
    background-color: hsl(358, 60%, 67%);
}

.num-btn:active,
.dot-btn:active {
    background-color: #E5989B;
}

.operator-btn,
.function-btn {
    background-color: #B5838D;
}

.operator-btn:hover,
.function-btn:hover {
    background-color: hsl(348, 25%, 51%);
}

.operator-btn:active,
.function-btn:active {
    background-color: #B5838D;
}